In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# importing csvs as dfs
dfJune = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202406_filled.csv")

In [9]:
dfJune.head()

,BuyerAgentAOR,ListAgentAOR,Flooring,ViewYN,WaterfrontYN,BasementYN,PoolPrivateYN,OriginalListPrice,ListingKey,ListAgentEmail,...,MainLevelBedrooms,NewConstructionYN,GarageSpaces,HighSchoolDistrict,PostalCode,AssociationFee,LotSizeSquareFeet,MiddleOrJuniorSchoolDistrict,latfilled,lonfilled
0,RanchoSoutheast,RanchoSoutheast,NaN,True,NaN,NaN,True,1250.0,543227709,pat@patowen.com,...,0.0,False,0.0,Menifee Union,92587,0.0,12197.0,NaN,True,True
1,BeverlyHillsGreaterLA,BeverlyHillsGreaterLA,NaN,True,NaN,NaN,NaN,2100000.0,531525691,andrew@epicpropertygroup.com,...,NaN,False,NaN,NaN,91206,NaN,437284.0,NaN,False,False
2,JoshuaTreeGateway,JoshuaTreeGateway,NaN,True,NaN,NaN,NaN,179000.0,531017430,bryan@jtmodern.com,...,NaN,False,NaN,NaN,92252,0.0,875556.0,NaN,True,True
3,HighDesert,HighDesert,NaN,True,NaN,NaN,NaN,14500.0,530411639,trustdee@aol.com,...,NaN,False,NaN,NaN,92345,NaN,871200.0,NaN,True,True
4,Southland,Southland,NaN,True,NaN,NaN,NaN,720000.0,526412917,karen@goldenoakrealty.com,...,NaN,False,NaN,NaN,93510,0.0,2576054.0,NaN,True,True

In [10]:
dfJuly = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202407_filled.csv")

In [11]:
dfAugust = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202408.csv")

In [12]:
dfSeptember = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202409.csv")

In [14]:
dfOctober = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202410.csv")

In [15]:
dfNovember = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202411.csv")

In [18]:
frames = [dfJune, dfJuly, dfAugust, dfSeptember, dfOctober, dfNovember]
df = pd.concat(frames)

In [23]:
print(df.head())

           BuyerAgentAOR           ListAgentAOR Flooring ViewYN WaterfrontYN  \
0        RanchoSoutheast        RanchoSoutheast      NaN   True          NaN
1  BeverlyHillsGreaterLA  BeverlyHillsGreaterLA      NaN   True          NaN
2      JoshuaTreeGateway      JoshuaTreeGateway      NaN   True          NaN
3             HighDesert             HighDesert      NaN   True          NaN
4              Southland              Southland      NaN   True          NaN

  BasementYN PoolPrivateYN  OriginalListPrice  ListingKey  \
0        NaN          True             1250.0   543227709
1        NaN           NaN          2100000.0   531525691
2        NaN           NaN           179000.0   531017430
3        NaN           NaN            14500.0   530411639
4        NaN           NaN           720000.0   526412917

                 ListAgentEmail  ... MainLevelBedrooms  NewConstructionYN  \
0               pat@patowen.com  ...               0.0              False
1  andrew@epicpropertygroup.com  ...               NaN              False
2            bryan@jtmodern.com  ...               NaN              False
3              trustdee@aol.com  ...               NaN              False
4     karen@goldenoakrealty.com  ...               NaN              False

  GarageSpaces HighSchoolDistrict  PostalCode  AssociationFee  \
0          0.0      Menifee Union       92587             0.0
1          NaN                NaN       91206             NaN
2          NaN                NaN       92252             0.0
3          NaN                NaN       92345             NaN
4          NaN                NaN       93510             0.0

  LotSizeSquareFeet MiddleOrJuniorSchoolDistrict  latfilled  lonfilled
0           12197.0                          NaN       True       True
1          437284.0                          NaN      False      False
2          875556.0                          NaN       True       True
3          871200.0                          NaN       True       True
4         2576054.0                          NaN       True       True

[5 rows x 80 columns]

In [24]:
df.shape

# so we know there are 24328 entries for the six months and 80 features/columns

(24328, 80)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24328 entries, 0 to 24327
Data columns (total 80 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   BuyerAgentAOR                 24321 non-null  object
 1   ListAgentAOR                  24321 non-null  object
 2   Flooring                      14543 non-null  object
 3   ViewYN                        21898 non-null  object
 4   WaterfrontYN                  13 non-null     object
 5   BasementYN                    351 non-null    object
 6   PoolPrivateYN                 20745 non-null  object
 7   OriginalListPrice             24274 non-null  float64
 8   ListingKey                    24328 non-null  int64
 9   ListAgentEmail                24295 non-null  object
 10  CloseDate                     24328 non-null  object
 11  ClosePrice                    24327 non-null  float64
 12  ListAgentFirstName            24163 non-null  object
 13  ListAgentLastName             24325 non-null  object
 14  Latitude                      24237 non-null  float64
 15  Longitude                     24238 non-null  float64
 16  UnparsedAddress               24291 non-null  object
 17  PropertyType                  24328 non-null  object
 18  LivingArea                    22700 non-null  float64
 19  ListPrice                     24300 non-null  float64
 20  DaysOnMarket                  24328 non-null  int64
 21  ListOfficeName                24328 non-null  object
 22  BuyerOfficeName               23944 non-null  object
 23  CoListOfficeName              4996 non-null   object
 24  ListAgentFullName             24325 non-null  object
 25  CoListAgentFirstName          4963 non-null   object
 26  CoListAgentLastName           4974 non-null   object
 27  BuyerAgentMlsId               24283 non-null  object
 28  BuyerAgentFirstName           24208 non-null  object
 29  BuyerAgentLastName            24315 non-null  object
 30  FireplacesTotal               0 non-null      float64
 31  AssociationFeeFrequency       7235 non-null   object
 32  AboveGradeFinishedArea        0 non-null      float64
 33  ListingKeyNumeric             24328 non-null  int64
 34  MLSAreaMajor                  21629 non-null  object
 35  TaxAnnualAmount               117 non-null    float64
 36  CountyOrParish                24328 non-null  object
 37  MlsStatus                     24328 non-null  object
 38  ElementarySchool              3042 non-null   object
 39  AttachedGarageYN              17932 non-null  object
 40  ParkingTotal                  23592 non-null  float64
 41  BuilderName                   930 non-null    object
 42  PropertySubType               22444 non-null  object
 43  LotSizeAcres                  21708 non-null  float64
 44  SubdivisionName               8472 non-null   object
 45  BuyerOfficeAOR                23515 non-null  object
 46  YearBuilt                     23349 non-null  float64
 47  StreetNumberNumeric           24263 non-null  float64
 48  ListingId                     24328 non-null  object
 49  BathroomsTotalInteger         23266 non-null  float64
 50  City                          24297 non-null  object
 51  TaxYear                       9 non-null      float64
 52  BuildingAreaTotal             2964 non-null   float64
 53  BedroomsTotal                 22789 non-null  float64
 54  ContractStatusChangeDate      24328 non-null  object
 55  ElementarySchoolDistrict      0 non-null      float64
 56  CoBuyerAgentFirstName         2008 non-null   object
 57  PurchaseContractDate          23878 non-null  object
 58  ListingContractDate           24322 non-null  object
 59  BelowGradeFinishedArea        88 non-null     float64
 60  BusinessType                  63 non-null     object
 61  StateOrProvince               24328 non-null  object
 62  CoveredSpaces                 0 non-null      float64
 63  MiddleOrJuniorSchool          3038 non-null   object
 64  FireplaceYN                   22223 non-null  object
 65  Stories                       18865 non-null  float64
 66  HighSchool                    3843 non-null   object
 67  Levels                        20351 non-null  object
 68  LotSizeDimensions             1278 non-null   object
 69  LotSizeArea                   21780 non-null  float64
 70  MainLevelBedrooms             12553 non-null  float64
 71  NewConstructionYN             21525 non-null  object
 72  GarageSpaces                  21387 non-null  float64
 73  HighSchoolDistrict            16543 non-null  object
 74  PostalCode                    24323 non-null  object
 75  AssociationFee                16488 non-null  float64
 76  LotSizeSquareFeet             21766 non-null  float64
 77  MiddleOrJuniorSchoolDistrict  0 non-null      float64
 78  latfilled                     24328 non-null  bool
 79  lonfilled                     24328 non-null  bool
dtypes: bool(2), float64(27), int64(3), object(48)
memory usage: 14.5+ MB

In [27]:
df.columns.tolist()

# there are a lot of columns... i doubt all of them will be relevant... i can't imagine that 
# features like the co-buyer's agent's first name are important for the price of the house

['BuyerAgentAOR',
 'ListAgentAOR',
 'Flooring',
 'ViewYN',
 'WaterfrontYN',
 'BasementYN',
 'PoolPrivateYN',
 'OriginalListPrice',
 'ListingKey',
 'ListAgentEmail',
 'CloseDate',
 'ClosePrice',
 'ListAgentFirstName',
 'ListAgentLastName',
 'Latitude',
 'Longitude',
 'UnparsedAddress',
 'PropertyType',
 'LivingArea',
 'ListPrice',
 'DaysOnMarket',
 'ListOfficeName',
 'BuyerOfficeName',
 'CoListOfficeName',
 'ListAgentFullName',
 'CoListAgentFirstName',
 'CoListAgentLastName',
 'BuyerAgentMlsId',
 'BuyerAgentFirstName',
 'BuyerAgentLastName',
 'FireplacesTotal',
 'AssociationFeeFrequency',
 'AboveGradeFinishedArea',
 'ListingKeyNumeric',
 'MLSAreaMajor',
 'TaxAnnualAmount',
 'CountyOrParish',
 'MlsStatus',
 'ElementarySchool',
 'AttachedGarageYN',
 'ParkingTotal',
 'BuilderName',
 'PropertySubType',
 'LotSizeAcres',
 'SubdivisionName',
 'BuyerOfficeAOR',
 'YearBuilt',
 'StreetNumberNumeric',
 'ListingId',
 'BathroomsTotalInteger',
 'City',
 'TaxYear',
 'BuildingAreaTotal',
 'BedroomsTotal',
 'ContractStatusChangeDate',
 'ElementarySchoolDistrict',
 'CoBuyerAgentFirstName',
 'PurchaseContractDate',
 'ListingContractDate',
 'BelowGradeFinishedArea',
 'BusinessType',
 'StateOrProvince',
 'CoveredSpaces',
 'MiddleOrJuniorSchool',
 'FireplaceYN',
 'Stories',
 'HighSchool',
 'Levels',
 'LotSizeDimensions',
 'LotSizeArea',
 'MainLevelBedrooms',
 'NewConstructionYN',
 'GarageSpaces',
 'HighSchoolDistrict',
 'PostalCode',
 'AssociationFee',
 'LotSizeSquareFeet',
 'MiddleOrJuniorSchoolDistrict',
 'latfilled',
 'lonfilled']

In [30]:
# let's see how many null values are in each column
df2 = df.isnull().sum()

In [ ]:
# now we can see all the nulls
markdown_output = df2.to_markdown()
print(markdown_output)

|                              |     0 |
|:-----------------------------|------:|
| BuyerAgentAOR                |     7 |
| ListAgentAOR                 |     7 |
| Flooring                     |  9785 |
| ViewYN                       |  2430 |
| WaterfrontYN                 | 24315 |
| BasementYN                   | 23977 |
| PoolPrivateYN                |  3583 |
| OriginalListPrice            |    54 |
| ListingKey                   |     0 |
| ListAgentEmail               |    33 |
| CloseDate                    |     0 |
| ClosePrice                   |     1 |
| ListAgentFirstName           |   165 |
| ListAgentLastName            |     3 |
| Latitude                     |    91 |
| Longitude                    |    90 |
| UnparsedAddress              |    37 |
| PropertyType                 |     0 |
| LivingArea                   |  1628 |
| ListPrice                    |    28 |
| DaysOnMarket                 |     0 |
| ListOfficeName               |     0 |
| BuyerOfficeName              |   384 |
| CoListOfficeName             | 19332 |
| ListAgentFullName            |     3 |
| CoListAgentFirstName         | 19365 |
| CoListAgentLastName          | 19354 |
| BuyerAgentMlsId              |    45 |
| BuyerAgentFirstName          |   120 |
| BuyerAgentLastName           |    13 |
| FireplacesTotal              | 24328 |
| AssociationFeeFrequency      | 17093 |
| AboveGradeFinishedArea       | 24328 |
| ListingKeyNumeric            |     0 |
| MLSAreaMajor                 |  2699 |
| TaxAnnualAmount              | 24211 |
| CountyOrParish               |     0 |
| MlsStatus                    |     0 |
| ElementarySchool             | 21286 |
| AttachedGarageYN             |  6396 |
| ParkingTotal                 |   736 |
| BuilderName                  | 23398 |
| PropertySubType              |  1884 |
| LotSizeAcres                 |  2620 |
| SubdivisionName              | 15856 |
| BuyerOfficeAOR               |   813 |
| YearBuilt                    |   979 |
| StreetNumberNumeric          |    65 |
| ListingId                    |     0 |
| BathroomsTotalInteger        |  1062 |
| City                         |    31 |
| TaxYear                      | 24319 |
| BuildingAreaTotal            | 21364 |
| BedroomsTotal                |  1539 |
| ContractStatusChangeDate     |     0 |
| ElementarySchoolDistrict     | 24328 |
| CoBuyerAgentFirstName        | 22320 |
| PurchaseContractDate         |   450 |
| ListingContractDate          |     6 |
| BelowGradeFinishedArea       | 24240 |
| BusinessType                 | 24265 |
| StateOrProvince              |     0 |
| CoveredSpaces                | 24328 |
| MiddleOrJuniorSchool         | 21290 |
| FireplaceYN                  |  2105 |
| Stories                      |  5463 |
| HighSchool                   | 20485 |
| Levels                       |  3977 |
| LotSizeDimensions            | 23050 |
| LotSizeArea                  |  2548 |
| MainLevelBedrooms            | 11775 |
| NewConstructionYN            |  2803 |
| GarageSpaces                 |  2941 |
| HighSchoolDistrict           |  7785 |
| PostalCode                   |     5 |
| AssociationFee               |  7840 |
| LotSizeSquareFeet            |  2562 |
| MiddleOrJuniorSchoolDistrict | 24328 |
| latfilled                    |     0 |
| lonfilled                    |     0 |

In [37]:
# some of these it seems like we can probably fill... like "WaterfrontYN" - if that's a null, the answer is probably
# that there is not a waterfront for that property...
# i'm just not sure what some of these other columns are filled with - we could look into that, like how did the 
# creators of this data fill columns like "BusinessType" and "HighSchool" or "HighSchoolDistrict"
# like do those categories have the names of nearby high schools? or is it the answer to whether or not the property is 
# within a registered district area?