In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [122]:
df = pd.read_csv('totalData.csv')
df

C:\Users\annab\AppData\Local\Temp\ipykernel_13840\3020583216.py:1: DtypeWarning: Columns (4,74,78,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('totalData.csv')

,BuyerAgentAOR,ListAgentAOR,Flooring,ViewYN,WaterfrontYN,BasementYN,PoolPrivateYN,OriginalListPrice,ListingKey,ListAgentEmail,...,MainLevelBedrooms,NewConstructionYN,GarageSpaces,HighSchoolDistrict,PostalCode,AssociationFee,LotSizeSquareFeet,MiddleOrJuniorSchoolDistrict,latfilled,lonfilled
0,RanchoSoutheast,RanchoSoutheast,NaN,True,NaN,NaN,True,1250.0,543227709,pat@patowen.com,...,0.0,False,0.0,Menifee Union,92587,0.0,12197.00,NaN,True,True
1,BeverlyHillsGreaterLA,BeverlyHillsGreaterLA,NaN,True,NaN,NaN,NaN,2100000.0,531525691,andrew@epicpropertygroup.com,...,NaN,False,NaN,NaN,91206,NaN,437284.00,NaN,False,False
2,JoshuaTreeGateway,JoshuaTreeGateway,NaN,True,NaN,NaN,NaN,179000.0,531017430,bryan@jtmodern.com,...,NaN,False,NaN,NaN,92252,0.0,875556.00,NaN,True,True
3,HighDesert,HighDesert,NaN,True,NaN,NaN,NaN,14500.0,530411639,trustdee@aol.com,...,NaN,False,NaN,NaN,92345,NaN,871200.00,NaN,True,True
4,Southland,Southland,NaN,True,NaN,NaN,NaN,720000.0,526412917,karen@goldenoakrealty.com,...,NaN,False,NaN,NaN,93510,0.0,2576054.00,NaN,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139941,OrangeCounty,OrangeCounty,"Carpet,Wood",True,NaN,NaN,False,2650000.0,1016328426,erin.oconnor.re@gmail.com,...,3.0,True,2.0,Santa Ana Unified,92660,1231.0,NaN,NaN,NaN,NaN
139942,NorthSanLuisObispo,NorthSanLuisObispo,NaN,True,NaN,NaN,NaN,125000.0,1014940572,jimclaassen@gmail.com,...,NaN,False,NaN,NaN,93422,0.0,101407.68,NaN,NaN,NaN
139943,LakeCounty,LakeCounty,NaN,True,NaN,NaN,NaN,14999.0,1014478574,veracrabtreerealty@gmail.com,...,NaN,False,NaN,NaN,95422,0.0,5929.00,NaN,NaN,NaN
139944,HighDesert,HighDesert,NaN,True,NaN,NaN,NaN,139900.0,1013494301,kim.hdrealtysource@hotmail.com,...,NaN,False,NaN,NaN,92301,NaN,3323628.00,NaN,NaN,NaN
139945,HighDesert,HighDesert,NaN,False,NaN,NaN,NaN,485000.0,1008390127,rsanchez@mgrrealestate.com,...,NaN,False,NaN,NaN,92345,NaN,43560.00,NaN,NaN,NaN

In [123]:
# using the features that claire picked out

features = ['PoolPrivateYN', 'ViewYN', 'DaysOnMarket', 'TaxAnnualAmount', 'BedroomsTotal', 'ClosePrice', 
'BathroomsTotalInteger', 'YearBuilt', 'BasementYN', 'LivingArea', 'PropertyType', 'PostalCode', 'AttachedGarageYN', 'Flooring']
drop_columns = df.columns.difference(features)

In [124]:
# check to ensure what columns i'm dropping

drop_columns

Index(['AboveGradeFinishedArea', 'AssociationFee', 'AssociationFeeFrequency',
       'BelowGradeFinishedArea', 'BuilderName', 'BuildingAreaTotal',
       'BusinessType', 'BuyerAgentAOR', 'BuyerAgentFirstName',
       'BuyerAgentLastName', 'BuyerAgentMlsId', 'BuyerOfficeAOR',
       'BuyerOfficeName', 'City', 'CloseDate', 'CoBuyerAgentFirstName',
       'CoListAgentFirstName', 'CoListAgentLastName', 'CoListOfficeName',
       'ContractStatusChangeDate', 'CountyOrParish', 'CoveredSpaces',
       'ElementarySchool', 'ElementarySchoolDistrict', 'FireplaceYN',
       'FireplacesTotal', 'GarageSpaces', 'HighSchool', 'HighSchoolDistrict',
       'Latitude', 'Levels', 'ListAgentAOR', 'ListAgentEmail',
       'ListAgentFirstName', 'ListAgentFullName', 'ListAgentLastName',
       'ListOfficeName', 'ListPrice', 'ListingContractDate', 'ListingId',
       'ListingKey', 'ListingKeyNumeric', 'Longitude', 'LotSizeAcres',
       'LotSizeArea', 'LotSizeDimensions', 'LotSizeSquareFeet', 'MLSAreaMajor',
       'MainLevelBedrooms', 'MiddleOrJuniorSchool',
       'MiddleOrJuniorSchoolDistrict', 'MlsStatus', 'NewConstructionYN',
       'OriginalListPrice', 'ParkingTotal', 'PropertySubType',
       'PurchaseContractDate', 'StateOrProvince', 'Stories',
       'StreetNumberNumeric', 'SubdivisionName', 'TaxYear', 'UnparsedAddress',
       'WaterfrontYN', 'latfilled', 'lonfilled'],
      dtype='object')

In [125]:
df = df.drop(columns = drop_columns)
df

,Flooring,ViewYN,BasementYN,PoolPrivateYN,ClosePrice,PropertyType,LivingArea,DaysOnMarket,TaxAnnualAmount,AttachedGarageYN,YearBuilt,BathroomsTotalInteger,BedroomsTotal,PostalCode
0,NaN,True,NaN,True,1250.0,ResidentialLease,120.0,900,NaN,NaN,2006.0,1.0,1.0,92587
1,NaN,True,NaN,NaN,1100000.0,Land,NaN,341,NaN,NaN,NaN,0.0,NaN,91206
2,NaN,True,NaN,NaN,90000.0,Land,NaN,1031,NaN,NaN,NaN,NaN,NaN,92252
3,NaN,True,NaN,NaN,14500.0,Land,NaN,276,NaN,NaN,NaN,NaN,NaN,92345
4,NaN,True,NaN,NaN,375000.0,Land,NaN,992,NaN,NaN,NaN,NaN,NaN,93510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139941,"Carpet,Wood",True,NaN,False,2650000.0,Residential,2219.0,10,NaN,False,2023.0,3.0,3.0,92660
139942,NaN,True,NaN,NaN,90000.0,Land,NaN,924,NaN,NaN,NaN,NaN,NaN,93422
139943,NaN,True,NaN,NaN,8000.0,Land,NaN,597,NaN,NaN,NaN,NaN,NaN,95422
139944,NaN,True,NaN,NaN,140000.0,Land,NaN,915,NaN,NaN,NaN,NaN,NaN,92301
139945,NaN,False,NaN,NaN,450000.0,Land,NaN,1001,NaN,NaN,NaN,NaN,NaN,92345

In [126]:
df

,Flooring,ViewYN,BasementYN,PoolPrivateYN,ClosePrice,PropertyType,LivingArea,DaysOnMarket,TaxAnnualAmount,AttachedGarageYN,YearBuilt,BathroomsTotalInteger,BedroomsTotal,PostalCode
0,NaN,True,NaN,True,1250.0,ResidentialLease,120.0,900,NaN,NaN,2006.0,1.0,1.0,92587
1,NaN,True,NaN,NaN,1100000.0,Land,NaN,341,NaN,NaN,NaN,0.0,NaN,91206
2,NaN,True,NaN,NaN,90000.0,Land,NaN,1031,NaN,NaN,NaN,NaN,NaN,92252
3,NaN,True,NaN,NaN,14500.0,Land,NaN,276,NaN,NaN,NaN,NaN,NaN,92345
4,NaN,True,NaN,NaN,375000.0,Land,NaN,992,NaN,NaN,NaN,NaN,NaN,93510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139941,"Carpet,Wood",True,NaN,False,2650000.0,Residential,2219.0,10,NaN,False,2023.0,3.0,3.0,92660
139942,NaN,True,NaN,NaN,90000.0,Land,NaN,924,NaN,NaN,NaN,NaN,NaN,93422
139943,NaN,True,NaN,NaN,8000.0,Land,NaN,597,NaN,NaN,NaN,NaN,NaN,95422
139944,NaN,True,NaN,NaN,140000.0,Land,NaN,915,NaN,NaN,NaN,NaN,NaN,92301
139945,NaN,False,NaN,NaN,450000.0,Land,NaN,1001,NaN,NaN,NaN,NaN,NaN,92345

In [127]:
# decided to steal brandon's data cleaning methods

# fill numeric columns with median
num_cols = ["TaxAnnualAmount", "BedroomsTotal", 
            "BathroomsTotalInteger", "YearBuilt", "LivingArea"]
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

binary_cols = ["PoolPrivateYN", "ViewYN", "BasementYN", "AttachedGarageYN"]

# fill NaNs with "N" before conversion
df[binary_cols] = df[binary_cols].fillna("N")

# convert "Y" into 1, "N" into 0, and change type to integer
df[binary_cols] = df[binary_cols].replace({"Y": 1, "N": 0}).astype(int)

# fill categorical variables with "Unknown"
cat_cols = ["PropertyType", "Flooring", "PostalCode"]
df[cat_cols] = df[cat_cols].fillna("Unknown")

df["PostalCode"] = df["PostalCode"].astype("category").cat.codes
df["PropertyType"] = df["PropertyType"].astype("category").cat.codes
df["Flooring"] = df["Flooring"].astype("category").cat.codes

In [128]:
# taking the log of y to normalize data a little more and since there isn't likely a completely linear pattern

df["ClosePrice"] = np.log1p(df["ClosePrice"])

X = df.drop(columns=["ClosePrice"])
Y = df["ClosePrice"]

In [129]:
# just checking the shape to ensure it works
print(X.shape)
print(Y.shape)

(139946, 13)
(139946,)

In [130]:
import sklearn

In [131]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [132]:
# checking data dimensions

X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((111956, 13), (111956,), (27990, 13), (27990,))

In [133]:
# my model kept giving me an error that my y input had nan values...
Y_train.dropna()

22773     13.303019
85033     13.458837
135813     8.294300
79215     13.894323
94478      8.699681
            ...
35764     13.377007
77764      7.650169
50972      7.550135
98022      7.362645
8887      15.123844
Name: ClosePrice, Length: 111955, dtype: float64

In [134]:
Y_test.dropna()

98009     14.316286
99531     12.899222
42077     14.284890
101624    13.676250
47417     13.458837
            ...
125945     8.023225
100085    14.046623
95298     14.478199
64705     12.948012
137775    13.444448
Name: ClosePrice, Length: 27990, dtype: float64

In [135]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

model = linear_model.LinearRegression()

In [136]:
model.fit(X_train, Y_train)

ValueError: Input y contains NaN.

In [ ]:
Y_pred = model.predict(X_test)

In [ ]:
Y_pred

array([14.08897657, 12.2998391 , 13.69159217, ...,  9.53708787,
       13.04755663,  8.21784926])

In [ ]:
# for some reason i kept getting an error that my inputs had nulls (when I ran the check for coefficients, intercepts, MSE below)
# so i decided to convert all the nans to zero... thats probably fine right

Y_pred = np.nan_to_num(Y_pred, nan=0)
Y_test = np.nan_to_num(Y_test, nan=0)

In [ ]:
print('Coefficients:', model.coef_)
print('Intercept:', model.intercept_)
print('Mean squared error (MSE):', mean_squared_error(Y_test, Y_pred))
print('Coefficient of determination (R^2):', r2_score(Y_test, Y_pred))

Coefficients: [-3.28848879e-03 -1.29558976e-02  2.73188242e-01  2.67163709e-01
 -1.51750439e+00 -1.44866499e-09 -3.95790060e-03  1.32691375e-05
  8.51706595e-01 -1.40167777e-02  3.12928710e-01  7.44687522e-02
  1.52858993e-04]
Intercept: 47.30699547587227
Mean squared error (MSE): 3.125206276045976
Coefficient of determination (R^2): 0.4361438075019468

In [ ]:
# these features in order correspond to these coefficients: 
# Coefficients: [-3.28848879e-03 -1.29558976e-02  2.73188242e-01  2.67163709e-01 -1.51750439e+00 
# -1.44866499e-09 -3.95790060e-03  1.32691375e-05 8.51706595e-01 
# -1.40167777e-02  3.12928710e-01  7.44687522e-02 1.52858993e-04]
print(X.columns)

Index(['Flooring', 'ViewYN', 'BasementYN', 'PoolPrivateYN', 'PropertyType',
       'LivingArea', 'DaysOnMarket', 'TaxAnnualAmount', 'AttachedGarageYN',
       'YearBuilt', 'BathroomsTotalInteger', 'BedroomsTotal', 'PostalCode'],
      dtype='object')

In [ ]:
# running the property type x closing price linear regression

In [ ]:
X = df['PropertyType']
Y = df['ClosePrice']

In [ ]:
X.shape, Y.shape

((139946,), (139946,))

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [ ]:
X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((111956,), (111956,), (27990,), (27990,))

In [ ]:
Y_train.dropna()
Y_test.dropna()

25865      8.497195
18293     14.946913
129763    14.761360
69341     11.461643
72923     13.681980
            ...
14543     14.285515
7399      13.304687
33350      8.188967
10329     13.723396
52816     14.648420
Name: ClosePrice, Length: 27990, dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()

In [ ]:
X_train = X_train.to_frame()
Y_train = Y_train.to_frame()

In [ ]:
Y_train.dropna()
Y_test.dropna()
X_train.dropna()
X_test.dropna()

25865     7
18293     5
129763    5
69341     3
72923     5
         ..
14543     5
7399      5
33350     7
10329     5
52816     5
Name: PropertyType, Length: 27990, dtype: int8

In [ ]:
model1.fit(X_train, Y_train)

ValueError: Input y contains NaN.