In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing csvs as dfs
dfJune = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202406_filled.csv")

In [3]:
dfJune.head()

,BuyerAgentAOR,ListAgentAOR,Flooring,ViewYN,WaterfrontYN,BasementYN,PoolPrivateYN,OriginalListPrice,ListingKey,ListAgentEmail,...,MainLevelBedrooms,NewConstructionYN,GarageSpaces,HighSchoolDistrict,PostalCode,AssociationFee,LotSizeSquareFeet,MiddleOrJuniorSchoolDistrict,latfilled,lonfilled
0,RanchoSoutheast,RanchoSoutheast,NaN,True,NaN,NaN,True,1250.0,543227709,pat@patowen.com,...,0.0,False,0.0,Menifee Union,92587,0.0,12197.0,NaN,True,True
1,BeverlyHillsGreaterLA,BeverlyHillsGreaterLA,NaN,True,NaN,NaN,NaN,2100000.0,531525691,andrew@epicpropertygroup.com,...,NaN,False,NaN,NaN,91206,NaN,437284.0,NaN,False,False
2,JoshuaTreeGateway,JoshuaTreeGateway,NaN,True,NaN,NaN,NaN,179000.0,531017430,bryan@jtmodern.com,...,NaN,False,NaN,NaN,92252,0.0,875556.0,NaN,True,True
3,HighDesert,HighDesert,NaN,True,NaN,NaN,NaN,14500.0,530411639,trustdee@aol.com,...,NaN,False,NaN,NaN,92345,NaN,871200.0,NaN,True,True
4,Southland,Southland,NaN,True,NaN,NaN,NaN,720000.0,526412917,karen@goldenoakrealty.com,...,NaN,False,NaN,NaN,93510,0.0,2576054.0,NaN,True,True

In [4]:
dfJuly = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202407_filled.csv")

In [5]:
dfAugust = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202408.csv")

In [6]:
dfSeptember = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202409.csv")

In [7]:
dfOctober = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202410.csv")

In [8]:
dfNovember = pd.read_csv("C:/Users/annab/IDX-Exchange-DS16-Winter2025/CRMLSSold202411.csv")

In [9]:
frames = [dfJune, dfJuly, dfAugust, dfSeptember, dfOctober, dfNovember]
df = pd.concat(frames)

In [25]:
df.to_csv('totalData.csv', index = False)

In [26]:
print(df.head())

           BuyerAgentAOR           ListAgentAOR Flooring ViewYN WaterfrontYN  \
0        RanchoSoutheast        RanchoSoutheast      NaN   True          NaN
1  BeverlyHillsGreaterLA  BeverlyHillsGreaterLA      NaN   True          NaN
2      JoshuaTreeGateway      JoshuaTreeGateway      NaN   True          NaN
3             HighDesert             HighDesert      NaN   True          NaN
4              Southland              Southland      NaN   True          NaN

  BasementYN PoolPrivateYN  OriginalListPrice  ListingKey  \
0        NaN          True             1250.0   543227709
1        NaN           NaN          2100000.0   531525691
2        NaN           NaN           179000.0   531017430
3        NaN           NaN            14500.0   530411639
4        NaN           NaN           720000.0   526412917

                 ListAgentEmail  ... MainLevelBedrooms  NewConstructionYN  \
0               pat@patowen.com  ...               0.0              False
1  andrew@epicpropertygroup.com  ...               NaN              False
2            bryan@jtmodern.com  ...               NaN              False
3              trustdee@aol.com  ...               NaN              False
4     karen@goldenoakrealty.com  ...               NaN              False

  GarageSpaces HighSchoolDistrict  PostalCode  AssociationFee  \
0          0.0      Menifee Union       92587             0.0
1          NaN                NaN       91206             NaN
2          NaN                NaN       92252             0.0
3          NaN                NaN       92345             NaN
4          NaN                NaN       93510             0.0

  LotSizeSquareFeet MiddleOrJuniorSchoolDistrict  latfilled  lonfilled
0           12197.0                          NaN       True       True
1          437284.0                          NaN      False      False
2          875556.0                          NaN       True       True
3          871200.0                          NaN       True       True
4         2576054.0                          NaN       True       True

[5 rows x 80 columns]

In [27]:
df.shape

# so we know there are 24328 entries for the six months and 80 features/columns

(139946, 80)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139946 entries, 0 to 20278
Data columns (total 80 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   BuyerAgentAOR                 139889 non-null  object
 1   ListAgentAOR                  139889 non-null  object
 2   Flooring                      83572 non-null   object
 3   ViewYN                        125553 non-null  object
 4   WaterfrontYN                  60 non-null      object
 5   BasementYN                    2450 non-null    object
 6   PoolPrivateYN                 120314 non-null  object
 7   OriginalListPrice             139608 non-null  float64
 8   ListingKey                    139946 non-null  int64
 9   ListAgentEmail                139727 non-null  object
 10  CloseDate                     139946 non-null  object
 11  ClosePrice                    139945 non-null  float64
 12  ListAgentFirstName            138972 non-null  object
 13  ListAgentLastName             139933 non-null  object
 14  Latitude                      139680 non-null  float64
 15  Longitude                     139693 non-null  float64
 16  UnparsedAddress               139733 non-null  object
 17  PropertyType                  139946 non-null  object
 18  LivingArea                    130759 non-null  float64
 19  ListPrice                     139757 non-null  float64
 20  DaysOnMarket                  139946 non-null  int64
 21  ListOfficeName                139946 non-null  object
 22  BuyerOfficeName               137600 non-null  object
 23  CoListOfficeName              28661 non-null   object
 24  ListAgentFullName             139931 non-null  object
 25  CoListAgentFirstName          28573 non-null   object
 26  CoListAgentLastName           28624 non-null   object
 27  BuyerAgentMlsId               139619 non-null  object
 28  BuyerAgentFirstName           139234 non-null  object
 29  BuyerAgentLastName            139891 non-null  object
 30  FireplacesTotal               0 non-null       float64
 31  AssociationFeeFrequency       41246 non-null   object
 32  AboveGradeFinishedArea        0 non-null       float64
 33  ListingKeyNumeric             139946 non-null  int64
 34  MLSAreaMajor                  124083 non-null  object
 35  TaxAnnualAmount               694 non-null     float64
 36  CountyOrParish                139946 non-null  object
 37  MlsStatus                     139946 non-null  object
 38  ElementarySchool              17021 non-null   object
 39  AttachedGarageYN              103041 non-null  object
 40  ParkingTotal                  135938 non-null  float64
 41  BuilderName                   5072 non-null    object
 42  PropertySubType               129559 non-null  object
 43  LotSizeAcres                  125463 non-null  float64
 44  SubdivisionName               48470 non-null   object
 45  BuyerOfficeAOR                135183 non-null  object
 46  YearBuilt                     134721 non-null  float64
 47  StreetNumberNumeric           139574 non-null  float64
 48  ListingId                     139946 non-null  object
 49  BathroomsTotalInteger         133864 non-null  float64
 50  City                          139806 non-null  object
 51  TaxYear                       77 non-null      float64
 52  BuildingAreaTotal             17283 non-null   float64
 53  BedroomsTotal                 131225 non-null  float64
 54  ContractStatusChangeDate      139946 non-null  object
 55  ElementarySchoolDistrict      0 non-null       float64
 56  CoBuyerAgentFirstName         11119 non-null   object
 57  PurchaseContractDate          137384 non-null  object
 58  ListingContractDate           139927 non-null  object
 59  BelowGradeFinishedArea        575 non-null     float64
 60  BusinessType                  392 non-null     object
 61  StateOrProvince               139946 non-null  object
 62  CoveredSpaces                 0 non-null       float64
 63  MiddleOrJuniorSchool          17182 non-null   object
 64  FireplaceYN                   128172 non-null  object
 65  Stories                       109658 non-null  float64
 66  HighSchool                    22127 non-null   object
 67  Levels                        118187 non-null  object
 68  LotSizeDimensions             7047 non-null    object
 69  LotSizeArea                   125940 non-null  float64
 70  MainLevelBedrooms             72920 non-null   float64
 71  NewConstructionYN             123607 non-null  object
 72  GarageSpaces                  123352 non-null  float64
 73  HighSchoolDistrict            95236 non-null   object
 74  PostalCode                    139908 non-null  object
 75  AssociationFee                95274 non-null   float64
 76  LotSizeSquareFeet             125841 non-null  float64
 77  MiddleOrJuniorSchoolDistrict  0 non-null       float64
 78  latfilled                     50568 non-null   object
 79  lonfilled                     50568 non-null   object
dtypes: float64(27), int64(3), object(50)
memory usage: 86.5+ MB

In [29]:
df.columns.tolist()

# there are a lot of columns... i doubt all of them will be relevant... i can't imagine that 
# features like the co-buyer's agent's first name are important for the price of the house

['BuyerAgentAOR',
 'ListAgentAOR',
 'Flooring',
 'ViewYN',
 'WaterfrontYN',
 'BasementYN',
 'PoolPrivateYN',
 'OriginalListPrice',
 'ListingKey',
 'ListAgentEmail',
 'CloseDate',
 'ClosePrice',
 'ListAgentFirstName',
 'ListAgentLastName',
 'Latitude',
 'Longitude',
 'UnparsedAddress',
 'PropertyType',
 'LivingArea',
 'ListPrice',
 'DaysOnMarket',
 'ListOfficeName',
 'BuyerOfficeName',
 'CoListOfficeName',
 'ListAgentFullName',
 'CoListAgentFirstName',
 'CoListAgentLastName',
 'BuyerAgentMlsId',
 'BuyerAgentFirstName',
 'BuyerAgentLastName',
 'FireplacesTotal',
 'AssociationFeeFrequency',
 'AboveGradeFinishedArea',
 'ListingKeyNumeric',
 'MLSAreaMajor',
 'TaxAnnualAmount',
 'CountyOrParish',
 'MlsStatus',
 'ElementarySchool',
 'AttachedGarageYN',
 'ParkingTotal',
 'BuilderName',
 'PropertySubType',
 'LotSizeAcres',
 'SubdivisionName',
 'BuyerOfficeAOR',
 'YearBuilt',
 'StreetNumberNumeric',
 'ListingId',
 'BathroomsTotalInteger',
 'City',
 'TaxYear',
 'BuildingAreaTotal',
 'BedroomsTotal',
 'ContractStatusChangeDate',
 'ElementarySchoolDistrict',
 'CoBuyerAgentFirstName',
 'PurchaseContractDate',
 'ListingContractDate',
 'BelowGradeFinishedArea',
 'BusinessType',
 'StateOrProvince',
 'CoveredSpaces',
 'MiddleOrJuniorSchool',
 'FireplaceYN',
 'Stories',
 'HighSchool',
 'Levels',
 'LotSizeDimensions',
 'LotSizeArea',
 'MainLevelBedrooms',
 'NewConstructionYN',
 'GarageSpaces',
 'HighSchoolDistrict',
 'PostalCode',
 'AssociationFee',
 'LotSizeSquareFeet',
 'MiddleOrJuniorSchoolDistrict',
 'latfilled',
 'lonfilled']

In [30]:
# let's see how many null values are in each column
df2 = df.isnull().sum()

In [31]:
# now we can see all the nulls
markdown_output = df2.to_markdown()
print(markdown_output)

|                              |      0 |
|:-----------------------------|-------:|
| BuyerAgentAOR                |     57 |
| ListAgentAOR                 |     57 |
| Flooring                     |  56374 |
| ViewYN                       |  14393 |
| WaterfrontYN                 | 139886 |
| BasementYN                   | 137496 |
| PoolPrivateYN                |  19632 |
| OriginalListPrice            |    338 |
| ListingKey                   |      0 |
| ListAgentEmail               |    219 |
| CloseDate                    |      0 |
| ClosePrice                   |      1 |
| ListAgentFirstName           |    974 |
| ListAgentLastName            |     13 |
| Latitude                     |    266 |
| Longitude                    |    253 |
| UnparsedAddress              |    213 |
| PropertyType                 |      0 |
| LivingArea                   |   9187 |
| ListPrice                    |    189 |
| DaysOnMarket                 |      0 |
| ListOfficeName               |      0 |
| BuyerOfficeName              |   2346 |
| CoListOfficeName             | 111285 |
| ListAgentFullName            |     15 |
| CoListAgentFirstName         | 111373 |
| CoListAgentLastName          | 111322 |
| BuyerAgentMlsId              |    327 |
| BuyerAgentFirstName          |    712 |
| BuyerAgentLastName           |     55 |
| FireplacesTotal              | 139946 |
| AssociationFeeFrequency      |  98700 |
| AboveGradeFinishedArea       | 139946 |
| ListingKeyNumeric            |      0 |
| MLSAreaMajor                 |  15863 |
| TaxAnnualAmount              | 139252 |
| CountyOrParish               |      0 |
| MlsStatus                    |      0 |
| ElementarySchool             | 122925 |
| AttachedGarageYN             |  36905 |
| ParkingTotal                 |   4008 |
| BuilderName                  | 134874 |
| PropertySubType              |  10387 |
| LotSizeAcres                 |  14483 |
| SubdivisionName              |  91476 |
| BuyerOfficeAOR               |   4763 |
| YearBuilt                    |   5225 |
| StreetNumberNumeric          |    372 |
| ListingId                    |      0 |
| BathroomsTotalInteger        |   6082 |
| City                         |    140 |
| TaxYear                      | 139869 |
| BuildingAreaTotal            | 122663 |
| BedroomsTotal                |   8721 |
| ContractStatusChangeDate     |      0 |
| ElementarySchoolDistrict     | 139946 |
| CoBuyerAgentFirstName        | 128827 |
| PurchaseContractDate         |   2562 |
| ListingContractDate          |     19 |
| BelowGradeFinishedArea       | 139371 |
| BusinessType                 | 139554 |
| StateOrProvince              |      0 |
| CoveredSpaces                | 139946 |
| MiddleOrJuniorSchool         | 122764 |
| FireplaceYN                  |  11774 |
| Stories                      |  30288 |
| HighSchool                   | 117819 |
| Levels                       |  21759 |
| LotSizeDimensions            | 132899 |
| LotSizeArea                  |  14006 |
| MainLevelBedrooms            |  67026 |
| NewConstructionYN            |  16339 |
| GarageSpaces                 |  16594 |
| HighSchoolDistrict           |  44710 |
| PostalCode                   |     38 |
| AssociationFee               |  44672 |
| LotSizeSquareFeet            |  14105 |
| MiddleOrJuniorSchoolDistrict | 139946 |
| latfilled                    |  89378 |
| lonfilled                    |  89378 |

In [32]:
# some of these it seems like we can probably fill... like "WaterfrontYN" - if that's a null, the answer is probably
# that there is not a waterfront for that property...
# i'm just not sure what some of these other columns are filled with - we could look into that, like how did the 
# creators of this data fill columns like "BusinessType" and "HighSchool" or "HighSchoolDistrict"
# like do those categories have the names of nearby high schools? or is it the answer to whether or not the property is 
# within a registered district area?